@font-face {
	font-family: "Aeonik Pro";
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: url("../fonts/AeonikPro/AeonikPro-Air.otf") format("opentype");
}

@font-face {
	font-family: "Aeonik Pro";
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: url("../fonts/AeonikPro/AeonikPro-Thin.otf") format("opentype");
}

@font-face {
	font-family: "Aeonik Pro";
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url("../fonts/AeonikPro/AeonikPro-Light.otf") format("opentype");
}

@font-face {
	font-family: "Aeonik Pro";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/AeonikPro/AeonikPro-Regular.otf") format("opentype");
}

@font-face {
	font-family: "Aeonik Pro";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("../fonts/AeonikPro/AeonikPro-Medium.otf") format("opentype");
}

@font-face {
	font-family: "Aeonik Pro";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("../fonts/AeonikPro/AeonikPro-Bold.otf") format("opentype");
}

@font-face {
	font-family: "Aeonik Pro";
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url("../fonts/AeonikPro/AeonikPro-Black.otf") format("opentype");
}

/* Adero Trial */
@font-face {
	font-family: "Adero Trial";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/AderoTrial/AderoTrial-Regular.otf") format("opentype");
}

@font-face {
	font-family: "Adero Trial";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("../fonts/AderoTrial/AderoTrial-Medium.otf") format("opentype");
}

@font-face {
	font-family: "Adero Trial";
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url("../fonts/AderoTrial/AderoTrial-SemiBold.otf") format("opentype");
}

@font-face {
	font-family: "Adero Trial";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("../fonts/AderoTrial/AderoTrial-Bold.otf") format("opentype");
}

@font-face {
	font-family: "Adero Trial";
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url("../fonts/AderoTrial/AderoTrial-ExtraBold.otf") format("opentype");
}

@font-face {
	font-family: "Adero Trial";
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url("../fonts/AderoTrial/AderoTrial-Black.otf") format("opentype");
}

* {
	font-family:
		"Aeonik Pro",
		ui-sans-serif,
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		"Helvetica Neue",
		Arial,
		"Noto Sans",
		sans-serif,
		"Apple Color Emoji",
		"Segoe UI Emoji",
		"Segoe UI Symbol",
		"Noto Color Emoji";
}

html,
body {
	font-family:
		"Aeonik Pro",
		ui-sans-serif,
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		"Helvetica Neue",
		Arial,
		"Noto Sans",
		sans-serif,
		"Apple Color Emoji",
		"Segoe UI Emoji",
		"Segoe UI Symbol",
		"Noto Color Emoji";
}

.font-adero-trial {
	font-family:
		"Adero Trial",
		ui-sans-serif,
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		"Helvetica Neue",
		Arial,
		"Noto Sans",
		sans-serif;
}

.font-plus-jakarta-italic {
	font-family:
		"Plus Jakarta Sans",
		ui-sans-serif,
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		"Helvetica Neue",
		Arial,
		"Noto Sans",
		sans-serif;
	font-style: italic;
}
