@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.transition-300 {
		@apply transition-all duration-300;
	}
	.absolute-x {
		@apply absolute left-1/2 -translate-x-1/2;
	}
	.absolute-y {
		@apply absolute top-1/2 -translate-y-1/2;
	}
	.absolute-center {
		@apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
	}
	.flex-y-center {
		@apply flex items-center;
	}
	.flex-x-center {
		@apply flex justify-center;
	}
	.flex-center {
		@apply flex items-center justify-center;
	}
	.flex-center-between {
		@apply flex items-center justify-between;
	}
	.flex-between {
		@apply flex justify-between;
	}
	.container {
		@apply max-w-[1440px] mx-auto px-4 md:px-6 lg:px-10 w-full;
	}
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Text selection styling */
::selection {
	background-color: #ff541a;
	color: white;
}

::-moz-selection {
	background-color: #ff541a;
	color: white;
}
